<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://example.com/image.svg"
    />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- CSS Styles -->
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container-fluid">
      <h2>Edit blog: <%= blog.title %></h2>
      <div class="blog-entry">
        <form action="/update/<%= blog._id %>" method="POST">
          <label for="title">Enter a Title:</label>
          <input type="text" id="title" name="title" required />
          <label for="summary">Enter a Short Description:</label>
          <input type="text" id="summary" name="summary" required />
          <label for="content">Blog Content:</label>
          <br />
          <textarea id="content" name="content" required></textarea>
          <br />
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
